<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form method="post" action="{{url_for('Login_Influencer')}}">
		<label for="email">Enter your email</label>
		<input id="email" type="email" name="email" required>
		<label for="password">Enter your password</label>
		<input type="password" name="password" required>
		<input type="submit" name="submit" value="Submit">

	</form>

</body>
</html>